<div>
  <div style="position: absolute;top: 50px; left: 25%;z-index: 15;display: none;"><input type="button" name="btnRotate" id="btnRotate" value="Change angle"></div>
  <div id="mapping_container" class=""></div>
</div>
